@font-face {
    font-family: "FZLTCXHJW";
    src: url("FZLTCXHJW.eot"); /* IE9 */
    src: url("FZLTCXHJW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("FZLTCXHJW.woff") format("woff"), /* chrome、firefox */
    url("FZLTCXHJW.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("FZLTCXHJW.svg#FZLTCXHJW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


