* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: custom;
  src: url(/font/a.eot);
  src: url(/font/a.eot?#iefix) format("embedded-opentype"),url(/font/a.woff) format("woff"),url(/font/a.ttf) format("truetype"),url(/font/a.svg#a) format("svg");
  font-style: normal;
  font-weight: 400
}
#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #607D8B;
}
.rw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/rw.png') no-repeat center center;
  background-size: contain;
  opacity: .05;
}
.text-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  font-family: custom;
  > h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 3em;
    text-shadow: rgb(0 0 0 / 15%) 1px 1px;
    color: #fff;
    span {
      display: inline-block;
      white-space: nowrap;
    }
  }
  > p {
    margin-top: 2em;
    color: #efefef;
    text-align: center;
  }
}
#days {
  font-weight: bold;
}
.audiobtn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  color: #333;
}
.audiobtn.animate {
  animation: heartBeat 1.5s linear infinite;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 12px;
  left: 0;
  font-family: custom;
  > p {
    text-align: center;
    font-size: 12px;
    > a {
      font-style: italic;
      text-decoration: none;
      color: #f9f9f9;
    }
  }
}
#paint {
  width: 100%;
  height: 100%;
}